#login-view {
    display: grid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

#login-view-password {
    margin-bottom: 20px;
}

#banklogo {
    width: 200px;
    height: 200px;
}